/* This file is for your main application css. */

/* @import "./phoenix.css"; */
@import "./page.css";

.add-reaction-button {
  background-color: lightgray;
  border: 1px solid darkgray;
  border-radius: 8px;
}

.add-reaction-button-selected {
  background-color: #b3ffff;
  border: 1px solid #1ad1ff;
  border-radius: 8px;
}

.add-reaction-button:hover,
.add-reaction-button-selected:hover {
  background-color: #b3ffff;
  border: 2px solid #1ad1ff;
  border-radius: 8px;
}
