.chat-window {
  align-content: center;
  height: 65vh;
  width: 60vw;
  border: solid #E0E0E0 3px;
  overflow-y: auto;
}

.message-input {
  height: 12vh; /* important; */
  width: 60vw;  /* !important; */
  overflow: scroll;
}

.current-user-message-name {
  color: blue;
  font-weight: bold;
}

.current-user-message-body {
}

.message-name {
  color: red;
  font-weight: bold;
}

.message-body {
}
