.chat-title {
  margin-left: 20vw;
}

#signin-signup-links {
  position: absolute;
  left: 72vw;
  top: 0vw;
}

#signout-link {
  position: absolute;
  left: 76vw;
  top: 0vw;
}

.chat-container {
  width: 73vw;
  height: 60vh;
  padding-left: 8vw;
}

.chat-list {
  width: 10vw;
  height: 60vh;
  margin-right: 1vw;
  float: left;
  border: solid #E0E0E0 3px;
}

.chat-window {
  height: 60vh;
  border: solid #E0E0E0 3px;
  overflow-wrap: break-word;
  overflow-y: auto;
}

.message-input {
  margin-left: 19vw;
  margin-top: 4vh;
  height: 12vh;
  width: 61vw;
  overflow: auto;
  overflow-wrap: break-word;
  font-size: 16px;
  font-family: times;
}


.current-user-message-name {
  font-weight: bold;
}

.current-user-message-body {
}

.message-name {
  font-weight: bold;
}

.message-body {
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.signup-link{
  color: blue;
  text-decoration: underline;
}

.signin-link{
  color: blue;
  text-decoration: underline;
}

.signin-link:hover,
.signin-link:focus,
.signup-link:hover,
.signup-link:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
