body {
  font-family: arial;
  line-height: 1.4;
  font-size: 13px;
}

#search-container {
  padding-left: 35vw;
}

#search-form{
  width: 20vw;
  height: 25px
}

#search-submit {
  width: 5vw;
  height: 31px;
}

.chat-title {
  margin-left: 20vw;
}

#profile-links {
  position: absolute;
  left: 72vw;
  top: 0vw;
}

#new-chat-link{
  padding-left: 8vw;
  color: blue;
  text-decoration: underline;
}

.create-chat-link{
  color: blue;
  text-decoration: underline;
}

#chat-search-results{
  padding-left: 8vw;
}

.chat-description {
  padding-left: 6vw;
}

.chat-container {
  width: 73vw;
  height: 60vh;
  padding-left: 8vw;
  padding-top: 1vh;
  position: relative;
}

.chat-list {
  width: 10vw;
  height: 60vh;
  margin-right: 1vw;
  float: left;
  border: solid #E0E0E0 3px;
  overflow-x: hidden;
  overflow-y: auto;
}

.chat-window {
  height: 60vh;
  /* width: auto; */
  width: 61vw;
  top: .25vw;
  left: 19.5vw;
  border: solid #E0E0E0 3px;
  overflow-wrap: break-word;
  overflow-y: auto;
  position: absolute;
  z-index: 0;
}

.reply-window {
  height: 60vh;
  top: .25vw;
  left: 19.5vw;
  width: 61vw;
  /* padding-left: 10vw; */
  border: solid #E0E0E0 3px;
  overflow-wrap: break-word;
  overflow-y: auto;
  visibility: hidden;
  position: absolute;
  z-index: 1;
}

.message-reply {
  visibility: hidden;
}

.message-input {
  margin-left: 19.5vw;
  margin-top: 4vh;
  height: 12vh;
  width: 61vw;
  overflow: auto;
  overflow-wrap: break-word;
  font-size: 12px;
  font-family: arial;
  border: solid #E0E0E0 3px
}

.message {
  z-index: 0;
}

.message > p {
  margin: 2px;
}

.message-inserted-at {
  font-weight: lighter;
  color: grey;
}

.message-name {
  font-weight: bold;
}

.message-name + p {
  display: inline;
}

/* .message-body {
  display: inline-block;
} */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 20vw; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.form-header {
  text-align: center;
}

.form-element {
  text-align: center;
  padding: 5px;
}

.form-input {
  height: 30px;
  width: 140px;
  text-align: center;
}

.form-submit {
  height: 32px;
  width: 144px;
}

.sign-up-or {
  padding: 20px !important
}

#google-sign-in-link {
  display: block;
  margin: auto;
  background: url("/images/btn_google_signin_light_normal_web.png") no-repeat;
  height: 50px;
  width: 200px;
}

#google-sign-in-link:hover,
#google-sign-in-link:focus {
  background: url("/images/btn_google_signin_light_focus_web.png") no-repeat;
}

#google-sign-in-link:active {
  background: url("/images/btn_google_signin_light_pressed_web.png") no-repeat;
}

#edit-password-link,
#forgot-password-link,
#edit-account-link,
.signin-link,
.signup-link{
  color: blue;
  text-decoration: underline;
}

#edit-password-link:hover,
#edit-password-link:focus,
#forgot-password-link:hover,
#forgot-password-link:focus,
#edit-account-link:hover,
#edit-account-link:focus,
.signin-link:hover,
.signin-link:focus,
.signup-link:hover,
.signup-link:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#feedback-link {
  margin-top: 3vh;
  margin-left: 45vw;
}


@media only screen and (max-width: 600px) {
  body {
    margin: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    /* background-color: rgb(65, 33, 153); */
  }

  .alert {
    display: none
  }

  #search-container {
    display: none;
    /* padding-left: 15vw; */
  }

  .chat-title {
    display: none
  }

  #new-chat-link {
    display: none;
  }

  #profile-links {
    display: none;
  }

  .chat-description {
    display: none;
  }

  .chat-list {
    display: none;
    margin-right: 0vw
  }

  .chat-container {
    /* padding: 1px; */
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100vw;
    height: 90vh;
  }

  .chat-window {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 99vw;
    height: 90vh;
    left: .25vw;
    border: solid #E0E0E0 1px;
    overflow-wrap: break-word;
    overflow-y: auto;
    position: absolute;
    /* padding: 1px; */

    /* height: 60vh;
    width: auto;
    width: 61vw;
    top: .25vw;
    left: 19.5vw;


    z-index: 0; */
  }

  .reply-window {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 99vw;
    height: 90vh;
    left: .25vw;
    border: solid #E0E0E0 1px;
    overflow-wrap: break-word;
    overflow-y: auto;
    position: absolute;
  }

  .message-input {
    margin-left: 0vw;
    margin-top: 0vh;
    position: absolute;
    top: 90vh;
    padding: 0px;
    height: 10vh;
    width: 99vw;
    overflow: auto;
    overflow-wrap: break-word;
    font-size: 12px;
    font-family: arial;
    /* border: solid #E0E0E0 3px */
  }

  .modal-content {
    width: 60vw; /* Could be more or less, depending on screen size */
  }

  .embedded-youtube-video {
    width: 280px;
    height: 157.5px;
  }

  .embedded-instagram {
    width: 360px;
    height: 430px;
  }

  #feedback-link {
    display: none;
  }
}
