<h2>Cooler.Chat<h2>
<h3>Sign Up</h3>

<%= form_for @conn, user_path(@conn, :forgot_username), [as: :user], fn f -> %>
  <div>
    <%= text_input f, :email, placeholder: "Email" %>
    <%= error_tag f, :email %>
  </div>
  <div>
    <%= submit "Submit" %>
  </div>
<% end %>
