<h2>The Water Cooler</h2>
<div id="chat-box">
</div>
<%= if signed_into_app?(@conn) do %>
  <form id="chat-form">
    <input type="text" placeholder="Enter to send" id="user-msg"></input>
  </form>
<% end %>
