<h1>Sign Up</h1>

<%= form_for @conn, user_path(@conn, :create), [as: :user], fn f -> %>
  <div>
    <%= label f, :username %>
    <%= text_input f, :username %>
    <%= error_tag f, :username %>
  </div>
  <div>
    <%= label f, :password %>
    <%= password_input f, :encrypted_password %>
    <%= error_tag f, :encrypted_password %>
  </div>
  <div>
    <%= submit "Submit" %>
  </div>
  Already a member? <span class="signin-link">Sign Up</span>
<% end %>
