<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://cooler.chat</loc>
    <lastmod>2022-11-18</lastmod>
    <changefreq>monthly</changefreq>
  </url>
  <% alias TreeChat.Chat %>
  <%= for chat <- @chats do %>
    <url>
      <loc><%= "https://cooler.chat/c/#{chat.topic}"%></loc>
      <changefreq>daily</changefreq>
    </url>
  <% end %>
</urlset>
