<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Cooler Chat</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <%= if signed_into_app?(@conn) do %>
          <div id="profile-links">
            <span id="edit-account-link"> Account </span> |
            <span id="signout-link">
              <%= link "Sign out", to: session_path(@conn, :delete), method: :delete %>
            </span>
          </div>
        <% else %>
          <div id="profile-links">
            <span class="signin-link">Sign In</span> |
            <span class="signup-link">Sign Up</span>
          </div>
        <% end %>

      <div id="search-container">
        <%= form_for @conn, search_path(@conn, :index), [as: :search], fn f -> %>
          <%= text_input f, :query, id: "search-form" %>
          <%= submit "Search", id: "search-submit" %>
        <% end %>
      </div>

      <div id="signin-modal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          updated_assigns
          <%= render "new_session.html", Map.merge(assigns, %{action: Routes.session_path(@conn, :create), oauth_google_url: TreeChat.AuthGoogle.generate_oauth_url(@conn)}) %>
        </div>
      </div>

      <div id="forgot-password-modal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <%= render "forgot_password.html", Map.put(assigns, :action, Routes.password_path(@conn, :create)) %>
        </div>
      </div>

      <div id="signup-modal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <%= render "new_user.html", Map.put(assigns, :action, Routes.user_path(@conn, :create)) %>
        </div>
      </div>

      <div id="edit-account-modal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <%= if signed_into_app?(@conn) do %>
            <%= render "edit_account.html", Map.put(assigns, :action, Routes.user_path(@conn, :edit, String.to_integer(@conn.assigns[:user_id]))) %>
          <% end %>
        </div>
      </div>

      <div id="edit-password-modal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <%= if signed_into_app?(@conn) do %>
            <%= render "edit_password.html", Map.put(assigns, :action, Routes.user_path(@conn, :edit, String.to_integer(@conn.assigns[:user_id]))) %>
          <% end %>
        </div>
      </div>

      <%= render @view_module, @view_template, assigns %>

      <div id="feedback-link">
        <%= link("Leave Feedback", to: "/c/Feedback") %>
      </div>

      <%= if signed_into_app?(@conn) do %>
        <script>
          window.userToken = "<%= assigns[:user_token] %>";
          window.userName = "<%= assigns[:user_name] %>";
          window.userFirst = "<%= assigns[:user_first] %>";
          window.userLast = "<%= assigns[:user_last] %>";
          window.userId = "<%= assigns[:user_id] %>";
        </script>
      <% end %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
