<h3>Update Password</h3>
<%= form_for Accounts.User.changeset(Accounts.get_user!(@conn.assigns[:user_id]), %{}), user_path(@conn, :update, Accounts.get_user!(@conn.assigns[:user_id])), [as: :user], fn f -> %>
  <%= password_input f, :current_password, placeholder: "password" %><br>
  <%= error_tag f, :current_password %>
  <%= password_input f, :encrypted_password, placeholder: "new password" %><br>
  <%= error_tag f, :new_password %>
  <%= submit "Update" %>
<% end %>
