<h3>Change Password</h3>
<%= form_for @conn, user_path(@conn, :update), [as: :user], fn f -> %>
  <%= text_input f, :username, placeholder: "username" %><br>
  <%= text_input f, :new_username, placeholder: "new_username" %><br>
  <%= password_input f, :password, placeholder: "password" %><br>
  <%= submit "Submit" %>
<% end %>
